/******************************************** FONTS ********************************************/
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); }
*, body, div, a, span, p, ul, li, strong {
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: 'Source Sans Pro Light', sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif; }

.button, button {
  font-family: 'Source Sans Pro Bold', sans-serif; }

/******************************************** COLORS ********************************************/
/*************************************** DEFAULT TEXT STYLES ***************************************/
.page-title {
  background-color: #0a2c45;
  margin: 0 0 60px;
  font-size: 36px;
  padding: 24px;
  color: #ffffff; }

.section-title {
  font-size: 24px;
  color: #334a6b;
  margin: 0 0 25px; }

.page-intro {
  font-size: 18px;
  color: #333333; }

/*************************************** DEFAULT BUTTON, NAV AND ANCHOR STYLES ***************************************/
.main-nav {
  background-color: #0a1e37;
  height: 85px;
  padding: 30px 0; }
  .main-nav ul {
    float: right;
    list-style: none;
    list-style-type: none; }
  .main-nav li {
    float: left;
    display: inline-block; }
    .main-nav li a {
      color: #ffffff;
      font-size: 18px;
      text-transform: uppercase;
      display: block;
      padding: 0 13px; }
    .main-nav li button {
      float: left;
      margin-top: -10px;
      margin-right: 26px; }

.button, button {
  text-transform: uppercase;
  background-color: #288e50;
  border-radius: 3px;
  font-size: 16px; }
  .button:hover, .button:active, .button:focus, button:hover, button:active, button:focus {
    background-color: #195731; }

/*VISUAL FOCUS INDICATOR FOR ACCESSIBILITY PURPOSES*/
a:focus, button:focus {
  outline: 2px solid #00cccc; }

/*************************************** DEMO STYLES ***************************************/
.page-container {
  margin: 0;
  padding: 20px 0; }
  .page-container .section {
    margin: 30px 0; }
  .page-container .code-snippet {
    font-family: "Courier New";
    color: #334a6b;
    font-size: 14px; }
  .page-container .color-bubble {
    background-color: #192A44;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    color: #ffffff;
    float: left;
    margin: 10px;
    text-align: center;
    display: block;
    font-size: 12px;
    padding-top: 35px;
    font-family: 'Source Sans Pro Bold', sans-serif; }
    .page-container .color-bubble.nav-blue {
      background-color: #0a1e37; }
    .page-container .color-bubble.dark-blue {
      background-color: #192A44; }
    .page-container .color-bubble.bg-blue {
      background-color: #0a2c45; }
    .page-container .color-bubble.medium-blue {
      background-color: #334a6b; }
    .page-container .color-bubble.light-blue {
      background-color: #00709A; }
    .page-container .color-bubble.dash-green {
      background-color: #288e50; }
    .page-container .color-bubble.dark-green {
      background-color: #195731; }
    .page-container .color-bubble.dash-red {
      background-color: #98452e; }
    .page-container .color-bubble.dash-yellow {
      background-color: #BFAF26; }
    .page-container .color-bubble.dark-gray {
      background-color: #333333; }
    .page-container .color-bubble.accent-gray {
      background-color: #E5E5E5;
      color: #333333; }
    .page-container .color-bubble.pale-gray {
      background-color: #f9f9f9;
      border: 1px solid #E5E5E5;
      color: #333333; }
    .page-container .color-bubble.white {
      background-color: #ffffff;
      border: 1px solid #E5E5E5;
      color: #333333; }
    .page-container .color-bubble.text-color-inv {
      background-color: #ffffff; }
    .page-container .color-bubble.text-color {
      background-color: #666666; }
    .page-container .color-bubble.focus-color {
      background-color: #00cccc; }
